@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>847-707-8758</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>847-707-8758</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:harvey007@sbcglobal.net">harvey007@sbcglobal.net</a></span>
    </p>
   
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Wade Harvey<br />
        1812 Walnut Ave.<br />
        Wilmette, IL 60091 <br />
        USA
    </p>
</section>